<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.koukrokiand"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mzl"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.koukrokiand.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.koukrokiand.AndroidXMLParsingActivity"
            android:label="@string/title_activity_android_xmlparsing"
             android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.example.koukrokiand.Datum"
            android:label="@string/title_activity_datum" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    

</manifest>
