<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.konu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.konu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.konu.Example1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example3"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example4"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example5"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example6"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example7"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example8"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example9"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example10"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example11"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.Example12"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.konu.LayMainActivity"
            android:label="@string/title_activity_lay_main" >
        </activity>
    </application>

</manifest>